@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 60px 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: -webkit-radial-gradient(circle at top, rgb(28, 44, 68) 10px, rgb(15, 35, 56) 50px, rgb(15, 35, 55));
    background-image: -moz-radial-gradient(circle at top, rgb(28, 44, 68) 10px, rgb(15, 35, 56) 50px, rgb(15, 35, 55));
    background-image: -ms-radial-gradient(circle at top, rgb(28, 44, 68) 10px, rgb(15, 35, 56) 50px, rgb(15, 35, 55));
    background-image: radial-gradient(circle at top, rgb(28, 44, 68) 10px, rgb(15, 35, 56) 50px, rgb(15, 35, 55));
    background-repeat: no-repeat;
    color: #43546c;
    background-size: 200vmax 200vmax;
}

a {
    color: #43546c!important;
}

button {
    color: #43546c!important;
}


/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */