.title-side {
    line-height: 1em;
}

.text-l {
    font-size: 2.2em;
    line-height: 1em;
}

.side {
    line-height: 1.2em;
}

.num {
    color: #c4c4c4;
}

.graph-ico {
    background: url('../../images/graph.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 100vw 25vh;
    height: 26vh;
}